<div class="sticky top-0 w-full h-[80px] bg-color-main text-white flex items-center justify-between px-2">
    <a href="<%= back_link_path  %>" class="w-[50px]">
        <%= image_tag "arrow.png", class: 'h-[30px]' %>
    </a>
    <h1 class="text-xl"><%= page_name %></h1>
    <p class="font-thin w-[50px]">NEXT</p>
</div>
